* {
    margin: 0;
    padding: 0;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.image-section {
    width: 540px;
    height: 1080px;
}

.overlay-text {
    position: absolute;
    top: 30%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 36px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    border: transparent;
    padding-left: 66.5%;
    padding-right: 30%;
    background-color: black;
    opacity: 50%;
    text-shadow: 20 white;
} 


.image {
    position: relative;
    display: inline-block;
    
}

.image img {
    display: block;
    width: 540px;
    height: 1080px;
}

.bravo {
    display: inline-flex;
    box-sizing: border-box;
    position: relative;
    width: 1080px;
    height: 480px;
    background-color: lightblue;
    margin-left: 0%;
    margin-top: 0%;
    justify-content: space-between;
    text-align: center;
    transform: translate(50%, -225%)
    
    
}

.subtitle {
    position: absolute;
    display: inline-block;
   transform: translate(10%, 50%);
    padding: 20px;
    
    justify-content: space-between;
    box-sizing: border-box;
}

.charlie {
    display: inline-flex;
    position: relative;
    width: 1080px;
    height: 360px;
    background-color: lightgray;
    justify-content: space-between;
    transform: translate(50%, -300%);
    box-shadow: 1px 1px 5px 1px black;
}

    form {
    display: block;
    
    
}

.sign-up {
    display: block;
    position: absolute;
    justify-items: center;
    transform: translate(10%, 30%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

label, input {
    display: block;
    float: left;
    width: 10em;
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    
}
legend {
    margin-bottom: 1em;
}

.delta {
   display: inline-flex;
    position: relative;
    width: 1080px;
    height: 240px;
    background-color: lightgray;
    justify-content: space-between;
    transform: translate(50%, -451%);  
}