* {
    margin: 0;
    padding: 0;
}

.overlay-text {
    position: absolute;
    top: 30%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 36px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
} 

.image {
    position: relative;
    display: inline-block;
    
}

.image img {
    display: block;
    width: 640px;
    height: 1080px;
}