* {
    margin: 0;
    padding: 0;
}

.overlay-text {
    position: absolute;
    top: 30%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 36px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    border: transparent;
    padding-left: 66.5%;
    padding-right: 30%;
    background-color: black;
    opacity: 50%;
    text-shadow: 20 white;
} 


.image {
    position: relative;
    display: inline-block;
    
}

.image img {
    display: block;
    width: 540px;
    height: 1080px;
}

.subtitle {
    position: absolute;
    display: inline-block;
    right: -30%;
    top: 20%;
    padding: 20px;
}